.App {
  text-align: left;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  border-bottom: 2px solid rgba(224, 23, 23, 0.753);
}

.App-header h1 {
  margin: 0;
  color: rgba(224, 23, 23, 0.753);
  padding-top: 70px;
}

.App-body {
  padding-bottom: 500px;
  max-width: 1200px;
  
}

.App-body p {
  text-align: left;
  color: black;
  font-weight: 500;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.form-group label {
  margin-bottom: 5px; 
}

.form-group input {
  width: 150px; /* Adjust width as needed */
}

.form-container button {
  align-self: flex-start;
}

.App-footer {
  border-top: 2px solid rgba(224, 23, 23, 0.753);
  text-align: center;
}